<app-smallheader>
  <h1 class="header-title"> اتصل بنا</h1>
</app-smallheader>


<div class="container py-2 pb-lg-5 pb-2">
  <div class="row">
    <div class="col-lg-6 row contact-us">

      <div class="col-12">
        <div class="sub-title">
          <h1>اتصل بنا</h1>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="contact-details">
          <h2>بيانات التواصل </h2>
          <p><a>
            <i class="fa-solid fa-square-phone-flip"></i>
            <span>0530855760</span>
            </a>
          </p>
          <p><a href="https://t.me/zahraelbostan28"><i class="fa-brands fa-telegram"></i>
            <span>t.me/zahraelbostan28</span>
          </a>
            <a href="wa.me/message/2EGUZIOAEO5HN1"><i class="fa-brands fa-square-whatsapp"></i>
              <span>wa.me/message/2EGUZIOAEO5HN1</span>
            </a>
          </p>

        </div>

        <div class="social-media">
          <h2>حسابات التواصل الاجتماعي</h2>
          <div class="d-flex justify-content-between">
            <!-- <p><a href="https://t.me/zahraelbostan28"><i class="fa-brands fa-telegram"></i></a></p> -->
            <p><a href="https://youtube.com/channel/UCGNg7raEh6bLtHaQrYejGAg"><i class="fa-brands fa-youtube"></i></a></p>
            <p><a href="https://www.instagram.com/zahrat_albustan28/reels/"><i class="fa-brands fa-instagram"></i></a></p>
            <p><a href="https://www.tiktok.com/@zahrat_albustan28"><i class="fa-brands fa-tiktok"></i></a></p>
            <!-- <p><a href="wa.me/message/2EGUZIOAEO5HN1"><i class="fa-brands fa-square-whatsapp"></i></a></p> -->
            <p><a href="https://www.snapchat.com/add/mhj1129?"><i class="fa-brands fa-snapchat"></i></a></p>
          </div>

        </div>

      </div>
    </div>
    <div class="col-lg-6 contact-detail-text">
        <div class="contact ">
          <p>حرصا منا علي تقديم افضل الخدمات,في حاله رغبتم معرفه تكلفه التصميم للمساحه المراد تنفيذها ,أرجوا تزويدنا بالأتي:</p>
          <ul class="requirment mt-5">
            <li><span> 1- صوره من المخطط </span></li>
            <li><span> 2-المتطلبات المطلوبه في التصميم</span></li>
            <li><span>3- الأسم</span></li>
            <li><span> 4- المدينه</span></li>
            <li><span> 5-رقم التواصل</span></li>
          </ul>
        </div>
    </div>
  </div>
</div>
