<div class="container  py-3" style=" padding-top: 100px;">
  <div class="row justify-content-around">
    <div class="col-12">
      <div class="sub-title">
        <h1>من نحن</h1>
      </div>
    </div>
    <div class="col-lg-6 col-12" >
        <div class="about-us-image">
          <img src="../../../assets/images/WhatsApp Image 2022-09-03 at 15.05.13.jpeg" alt="">
        </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="about-us-details text-right">
        <p>
          <span class="green">
            زهرة البساتين

        </span>
        متخصصون فى التصميم الخارجى والمناظر الطبيعية.<br> لتقديم رؤية جديدة و مختلفة فى عالم الديكور والتصميم وتوفير جميع الخدمات  , من تصميم و تنفيذ وإشراف وتقديم أعلى مستويات الجودة و الإحترافية فى العمل وحرصا منا على تقديم الأفضل لعملائنا بدراسة متطلبات كل عميل و إمكانياته وترجمة أفكاره وخياله فى التصميم , .وكسب ثقته وضمان الاستمراريه لتعامله معنا <br> نسعى فى رؤيتنا المستقبلية بالاستمرار بالتعامل معنا .
      </p>
      </div>
    </div>

  </div>
</div>
