

/* .search{
  background-color:#ffff ;
  height:150px;
  width:100%;
  justify-content: space-between !important;
  align-items:center !important;
position:sticky;
}


.search_bar{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav_list{
  display: flex;
  list-style-type:none;
  justify-content: space-between;
  align-items: center;

}
a{
  font-size: .8em;
  display: block;
  color:#ffff;
  text-decoration: none;

} */

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main{
  background-color: #fff;
}

