<app-smallheader>
  <h1 class="header-title"> خدماتنا</h1>
</app-smallheader>

<div class="container py-5">
  <div class="row justify-content-lg-between justify-content-center ">
    <div class="col-12">
      <div class="sub-title">
        <h1>خدماتنا</h1>
      </div>
    </div>
    <div class="card-section row ">
      <div class="col-lg-4 col-md-6 col-card">
        <div class="card">
          <i class="fa-solid fa-paintbrush"></i>
          <div class="card-title">
            <h1>  تصميم</h1>
           </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-card">
        <div class="card">
          <i class="fa-sharp fa-solid fa-gears"></i>
          <div class="card-title">
            <h1> تنفيذ </h1>
           </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-card">
        <div class="card">
          <i class="fa-solid fa-fingerprint"></i>
          <div class="card-title">
            <h1> إشراف</h1>
           </div>
        </div>
      </div>
       <br>
      <div class="col-lg-4 col-md-6 col-card" >
        <div class="card">
           <img src="../../assets/images/icons/tree-silhouette-of-circular-leaves-svgrepo-com.png"  alt="">
           <div class="card-title">
            <h1>أشجار صناعيه</h1>
           </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-card" >
        <div class="card">
           <img src="../../assets/images/icons/acsessories.png"  alt="">
           <div class="card-title">
            <h1> أكسسورات</h1>
           </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-card" >
        <div class="card">
           <img src="../../assets/images/icons/grass.png"  alt="">
           <div class="card-title">
            <h1> عشب أرضي</h1>
           </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-card" >
        <div class="card">
           <img src="../../assets/images/icons/noun-waterfall-4968120.png"  alt="">
           <div class="card-title">
            <h1>  شلالات ونوافير</h1>
           </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-card" >
        <div class="card">
           <img src="../../assets/images/icons/plants-pots-svgrepo-com.png"  alt="">
           <div class="card-title">
            <h1>أشجار صناعيه</h1>
           </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-card" >
        <div class="card">
           <img src="../../assets/images/icons/swing.png"  alt="">
           <div class="card-title">
            <h1> أراجيح حدائق</h1>
           </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-card" >
        <div class="card">
           <img src="../../assets/images/icons/noun-pergola-3594521.png"  alt="">
           <div class="card-title">
            <h1>  مظلات</h1>
           </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-card" >
        <div class="card">
           <img src="../../assets/images/icons/Untitled-2.png"  alt="">
           <div class="card-title">
            <h1>  حجر أسمنتي</h1>
           </div>
        </div>
      </div>

      <div class="button text-center mb-3 mt-5">
        <a class="btn" routerLink="/معرض الاعمال">معرض الأعمال</a>
      </div>
    </div>
    <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">عشب أرضي</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">مظلات</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">اكسسورات</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab-1" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="contact" aria-selected="false">مراكن</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab-2" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="contact" aria-selected="false">  أراجيح حديقه</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab-3" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="contact" aria-selected="false">اكسسورات</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab-4" data-bs-toggle="tab" data-bs-target="#tab-four" type="button" role="tab" aria-controls="contact" aria-selected="false">أشجار صناعيه</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab-5" data-bs-toggle="tab" data-bs-target="#tab-five" type="button" role="tab" aria-controls="contact" aria-selected="false">حجر أسمنتي</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab-6" data-bs-toggle="tab" data-bs-target="#tab-six" type="button" role="tab" aria-controls="contact" aria-selected="false"> تصميم حدائق </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card-sec row">
          <div class="col-lg-4 col-md-6 col-card" >
            <div class="card">
              <img src="../../assets/images/277043224_3354634038085733_4092419398007843358_n.jpg" width="100%" alt="">
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card-sec row">
            <div class="col-lg-4 col-md-6 col-card" >
            <div class="card">
              <img src="../../assets/images/277043224_3354634038085733_4092419398007843358_n.jpg" width="100%" alt="">
            </div>
          </div>
      </div>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="card-sec row">
          <div class="col-lg-4 col-md-6 col-card" >
            <div class="card">
              <img src="../../assets/images/277043224_3354634038085733_4092419398007843358_n.jpg" width="100%" alt="">
            </div>
          </div>
      </div>
      </div>
      <div class="tab-pane fade" id="tab-one" role="tabpanel" aria-labelledby="tab-1">
        <div class="card-sec row">
          <div class="col-lg-4 col-md-6 col-card" >
            <div class="card">
              <img src="../../assets/images/277043224_3354634038085733_4092419398007843358_n.jpg" width="100%" alt="">
            </div>
          </div>
      </div>
      </div>
      <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-2">
        <div class="card-sec row">
          <div class="col-lg-4 col-md-6 col-card" >
            <div class="card">
              <img src="../../assets/images/277043224_3354634038085733_4092419398007843358_n.jpg" width="100%" alt="">
            </div>
          </div>
      </div>
      </div>
      <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-3">
        <div class="card-sec row">
          <div class="col-lg-4 col-md-6 col-card" >
            <div class="card">
              <img src="../../assets/images/277043224_3354634038085733_4092419398007843358_n.jpg" width="100%" alt="">
            </div>
          </div>
      </div>
      </div>
      <div class="tab-pane fade" id="tab-four" role="tabpanel" aria-labelledby="tab-4">
        <div class="card-sec row">
          <div class="col-lg-4 col-md-6 col-card" >
            <div class="card">
              <img src="../../assets/images/277043224_3354634038085733_4092419398007843358_n.jpg" width="100%" alt="">
            </div>
          </div>
      </div>
      </div>
      <div class="tab-pane fade" id="tab-five" role="tabpanel" aria-labelledby="tab-5">
        <div class="card-sec row">
          <div class="col-lg-4 col-md-6 col-card" >
            <div class="card">
              <img src="../../assets/images/277043224_3354634038085733_4092419398007843358_n.jpg" width="100%" alt="">
            </div>
          </div>
      </div>
      </div>
      <div class="tab-pane fade" id="tab-six" role="tabpanel" aria-labelledby="tab-6">
        <div class="card-sec row">
          <div class="col-lg-4 col-md-6 col-card" >
            <div class="card">
              <img src="../../assets/images/277043224_3354634038085733_4092419398007843358_n.jpg" width="100%" alt="">
            </div>
          </div>
      </div>
      </div>
    </div> -->
  </div>
</div>
