<!-- <div class="bg">
  <div class="container">
    <div class="d-flex ">
      <div>
        <img src="\assets\1a218ccb-606e-461c-96c9-c548e64f2c2f-200x.png">
      </div>
      <div>
        <input type="search">
      </div>
      <div></div>
    </div>
  </div>
</div> -->
<!-- <mat-toolbar color="primary">

  <div>
    <img src="\assets\1a218ccb-606e-461c-96c9-c548e64f2c2f-200x.png">
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <input type="search">
     </li>

    </ul>
  </div>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onTogglesidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>


</mat-toolbar> -->
<div style="direction: rtl;">
<!-- <mat-nav-list > -->
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <!-- <mat-icon>home</mat-icon> <span class="nav-caption">جميع التصنيفات</span> -->
  </a>
  <a mat-list-item routerLink="all-products" (click)="onSidenavClose()">
    <!-- <mat-icon>account_balance</mat-icon><span class="nav-caption"> جميع المنتجات</span> -->
</a>
  <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
      <!-- <mat-icon>assignment_ind</mat-icon> <span class="nav-caption"> مدافئ خارجية</span> -->
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
      <!-- <mat-icon>account_balance</mat-icon><span class="nav-caption"> باقات</span> -->
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
      <!-- <mat-icon>account_balance</mat-icon><span class="nav-caption"> اركان وجزر</span> -->
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
      <!-- <mat-icon>account_balance</mat-icon><span class="nav-caption"> نوافير</span> -->
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
      <!-- <mat-icon>account_balance</mat-icon><span class="nav-caption"> شلالات جداريه</span> -->
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
      <!-- <mat-icon>account_balance</mat-icon><span class="nav-caption"> بارتشن</span> -->
  </a>

  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
      <!-- <mat-icon>account_balance</mat-icon><span class="nav-caption"> تصاميمD3</span> -->
  </a>
<!-- </mat-nav-list> -->
</div>
