




<footer class="footer">
  <div class="container">
    <div class="row justify-content-between" >
      <div class="col-sm-6 col-lg-4 footer-navigation">
        <h1>
          <a class="navbar-brand" href="#!"
            ><span style="color: #5e9693"> زهرة</span
            ><span style="color: rgb(193, 190, 190)">البستان</span></a
          >
        </h1>
        <p class="links">
          خدماتنا /تصميم و تنفيذ حدائق
          <br>
منتجاتنا /عشب_صناعي_تكسيات خشب_احواض_شلالات_نوافير_مظلات _عشب جداري

        </p>
      </div>
      <div class="col-sm-6 col-lg-4 footer-contacts">
        <div>

          <a> <span class="fa fa-map-marker footer-contacts-icon"> </span>21 Revolution StreetNY, USA</a>
        </div>
        <div>
          <a href="">
            <i class="fa fa-phone footer-contacts-icon"></i>
            0530855760
          </a>

        </div>
        <!-- <div>
          <a href="#" target="_blank">
          <i class="fa fa-envelope footer-contacts-icon"></i>
         support@bbbootstrap.com
        </a>
        </div> -->
        <div>
          <a  class="btn" routerLink="/contact">اتصل بنا</a>
        </div>
      </div>
      <div class="col-lg-4 footer-about">
        <h4> نبذة عنا</h4>
        <p>
          شركة زهرة البستان متخصصون فى التصميم الخارجي والمناظر الطبيعية لتقديم رؤية جديده ومختلفه في عالم الديكور والتصميم وتوفيرجميع الخدمات من تصميم وتنفيذ وإشراف وتقديم أعلى مستويات الجودة والإحترافيه في العمل
        </p>
        <div class="social-links social-icons d-flex justify-content-between">
          <a  href="https://www.snapchat.com/add/mhj1129?"><i class="fa-brands fa-snapchat"></i></a
          ><a href="https://youtube.com/channel/UCGNg7raEh6bLtHaQrYejGAg"><i class="fa-brands fa-youtube"></i></a
          ><a href="https://www.tiktok.com/@zahrat_albustan28"><i class="fa-brands fa-tiktok"></i></a
          ><a href="https://www.instagram.com/zahrat_albustan28"><i class="fa-brands fa-instagram"></i></a>
          <a href="wa.me/message/2EGUZIOAEO5HN1"><i class="fa-brands  fa-whatsapp"></i></a>
          <a href="https://t.me/zahraelbostan28"><i class="fa-brands fa-telegram"></i></a>
        </div>
      </div>
    </div>

    <!-- <div class="row mt-5 text-center team">
      <p class="p-3">
        made with <span><i class="fa-solid fa-heart"></i></span> By
<i class="fa-brands fa-square-snapchat"></i>
      </p>
    </div> -->
  </div>
</footer>
