<div class="header">
  <div class="overlay">
   <div class="title">
     <!-- <h1>   تواصل معانا</h1> -->
     <ng-content select=".header-title" class="compname">

     </ng-content>
   </div>

  </div>

  <svg class="chart" width="0" viewBox="0 0 1 0.852">

    <clipPath id="clip" clipPathUnits="objectBoundingBox">
      <path transform="scale(0.00120)" d="M0 740.5V0H1440.5V557C1369 549 1193.8 549.4 1073 615C922
    697 809 702.5 698.5 685C611.987 671.299 465 603 286 677C142.8 736.2 35.6667 744 0 740.5Z"
    fill="#001E61"/>
      </clipPath>
    </svg>
